<h1>Users</h1>
<ul>
  <% @users.each do |user| %>
    <a href="<%= user_posts_path(user) %>">
      <div class="user-box">
        <%= render partial: 'shared/user_photo', locals: { user: user } %>
        <%= render partial: 'shared/user_details', locals: { user: user } %>
      </div>
    </a>
  <% end %>
</ul>
