<h1>Users</h1>
<ul>
  <% unless @users.nil? %>
    <% @users.each do |user| %>
      <a href="<%= user_posts_path(user) %>">
        <div class="user-box">
          <%= render partial: 'shared/user_details', locals: { user: user } %>
        </div>
      </a>
    <% end %>
  <% else %>
    <p>Please sign in or sign up to view user details.</p>
    <%= link_to 'Sign In', new_user_session_path %>
    <%= link_to 'Sign Up', new_user_registration_path %>
  <% end %>
</ul>
