<a href="<%= user_posts_path(@user) %>">
    <button id="back-btn">⬅</button>
</a>
<div class="user-box">
    <%= render partial: 'shared/user_photo', locals: { user: @user } %>
    <%= render partial: 'shared/user_details', locals: { user: @user } %>
</div>
<div class="bio">
    <h3>Bio</h3>
    <p>
        <%= @user.bio %>
    </p>
</div>
