<a href="<%= users_path() %>">
    <button id="back-btn">⬅</button>
</a>
<ul>
    <% @posts.each do |post|%>
        <li>post_id: <%= post.id %>
        <span>post_title: <%= post.title %></span>
        </li>
        <% end %>
</ul>